/* Estilo do input do tipo checkbox */
#menu-toggle {
    display: none;
  }
  
  /* Estilo da label que funciona como botão */
  .menu-btn {
    display: flex;
    cursor: pointer;
    background-color: black;
    margin: 0;
    justify-content: space-around;
    }
  section{
    align-self: center;
    margin-left: 20px;
  }
  #tarefasHome{
    margin-inline: auto;
    color: white;
  }
  
  /* Estilo das barras do botão */
  .menu-btn span {
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-bottom: 5px;
  }
  
  /* Estilo do menu quando o checkbox está marcado */
  #menu-toggle:checked ~ .menu-items {
    display: block;
  }
  
  /* Estilo da lista de itens de menu */
  .menu-items {
    display: none;
    position: absolute;
    width: 300px;
    height: 550px;
    background: #333;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo dos itens de menu */
  .menu-items li {
    border-bottom: 1px solid #444;
  }
  
  .menu-items li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .menu-items li a:hover {
    background: #444;
  }

  .form-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  .form-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
  }
  
  .form-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius:5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .form-button:hover {
    background-color: #0062cc;
  }

  .dropdown{
    position: relative;
    cursor: pointer;
}
.dropdown > a{
    display: flex;
    align-items: center;
    gap: 20px;
}
.dropdown > a > img{ 
    width: 20px;
    margin-right: 80px;
}

.dropdown:hover .menu{
    opacity: 1;
    visibility: visible;
}

.menu > a {
    font-size: 14px;
    padding:12px 20px;
}
.menu > button {
    padding:12px 20px;
}

.menu > a:hover{
    background: rgb(190, 187, 187);
}
.menu > button:hover{
    background: rgb(190, 187, 187);
}

.menu{
    position: absolute;
    top:30px;
    right: 59px;
    display: grid;
    width: 190px;
    padding: 8px 0;
    background: white;
    border: 1px solid white;
    border-radius:10px;
    box-shadow: 0 40px 40px rgba(0 0 0 /6%);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;

  }
  button{
      font-size: 14px;
      background: var(--background);
      border: 1px solid var(--background);
      color: var(--gray-650);

  }
.menu::before{
    content:"";
    background:white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    margin-top:-15px;
    margin-left: 153px;
    width:12px;
    height: 12px;
    rotate:-45deg;

}